imblearn
ipywidgets
jupyterlab
matplotlib
nltk
numpy
opencv-python
optuna
pandas
pandoc
plotly
scikit-learn
scipy
seaborn
statistics
statsmodels
spacy
tensorflow
torch
tqdm
transformers
xgboost
yfinance
